<%- include("template/cabecera",{tituloweb:'Visualizador QR'}) %>
<div class="row justify-content-center mt-5">
  <div class="col-sm-4 shadow p-3">
    <h5 class="text-center">Escanear codigo QR</h5>
    <div class="row text-center">
      <a id="btn-scan-qr" href="#">
        <img
          src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg"
          class="img-fluid text-center"
          width="175"
        />
      </a>
      <canvas hidden="" id="qr-canvas" class="img-fluid"></canvas>
    </div>
    <div class="row mx-5 my-3">
      <button
        class="btn btn-success btn-sm rounded-3 mb-2"
        onclick="encenderCamara()"
      >
        Encender camara
      </button>
      <button class="btn btn-danger btn-sm rounded-3" onclick="cerrarCamara()">
        Detener camara
      </button>
      <h3 id="respuestas" class="text-center fw-light"></h3>
      <form action="/Mostrar_Info_Componente" method="post">
        <div class="row mx-5 my-3">
          <label for="codigoti" class="form-label"> Código TI</label>
          <input
            type="text"
            class="form-control"
            id="codigoti"
            name="codigoti"
            oninput="convertirAMayusculas()"
          />
          <button
            id="btnverificar"
            type="submit"
            class="btn btn-outline-primary"
          >
            Verificar
          </button>
        </div>
      </form>
      <button id="btnmanual" type="button" class="btn btn-outline-primary">
        Introducir código TI Manual
      </button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="/js/Plugins/qrCode.min.js"></script>
  <script src="/js/index.js"></script>
 
<audio id="audioScaner" src="/public/js/sounds/sonido.mp3"></audio>
<%- include("template/footer") %>
