<%- include("template/cabecera",{tituloweb:'Pagina de Inicio'}) %>
<%- include("template/navbar") %>

    <h1 class="text-primary">titulo</h1>
    <h1 ><%= titulo %></h1>

<%- include("template/footer") %>