<div class="modal fade" id="detallecatalogocomponenteModal" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-between align-items-center">
        <h1 class="modal-title">Consulta</h1>
       <button type="button" class="btn-close-custom btn-secondary" data-bs-dismiss="modal" >
        <i class="fas fa-times"></i> <!-- Icono de cierre de Font Awesome -->
        </button>
      </div>
      <div class="modal-body d-flex justify-content-between text-center">
        <div class="text-center mb-4">
          <h3 class="modal-subtitle">
            Detalles del Equipo
            <p class="codigoti">
              <strong>Código TI:</strong> <span id="codigoTI"></span>
            </p>
          </h3>
        </div>
        <img
          src="/resources/computer.png"
          alt="Logo CIP"
          class="img-fluid"
          style="width: 150px; height: 150px"
        />
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
              <p><strong>ID Unidad: </strong> <span id="idunidad"></span></p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Nombre Unidad: </strong> <span id="nombreUnidad"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p><strong>Ubicación: </strong> <span id="area"></span></p>
            </div>
            <div class="list-group-item">
              <p><strong>Operación: </strong> <span id="operacion"></span></p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Nombre del Responsable: </strong>
                <span id="nombreResponsable"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Técnico Registro: </strong>
                <span id="tecnicoregistro"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Fecha Registro: </strong>
                <span id="fecharegistro"></span>
              </p>
            </div>
          </div>
           
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <div class="list-group-item">
              <p>
                <strong>Tipo de Equipo: </strong> <span id="tipoEquipo"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p><strong>Marca: </strong> <span id="marca"></span></p>
            </div>
            <div class="list-group-item">
              <p><strong>Modelo: </strong> <span id="modelo"></span></p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Número de Serie: </strong> <span id="numeroSerie"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Status Componente: </strong>
                <span id="statusComponente"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Observaciones: </strong>
                <span id="observaciones"></span>
              </p>
            </div>
              <div class="list-group-item">
              <p>
                <strong>Es Cliente/Servidor: </strong>
                <span id="clienteservidor"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
           
            <div class="list-group-item">
              <p>
                <strong>Status Inventario: </strong>
                <span id="statusInventario"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Fecha Compra: </strong> <span id="fechacompra"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Número Factura: </strong>
                <span id="numerofactura"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Fecha Nombre Proveedor: </strong>
                <span id="nombreproveedor"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Lugar Compra: </strong> <span id="lugarcompra"></span>
              </p>
            </div>
            <div class="list-group-item">
              <p>
                <strong>Fecha de Factura: </strong>
                <span id="fechafactura"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
